* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #252525;
    color: #f1f1f1;
    padding: 117px 0;
}

.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.canvas {
    height: 350px;
    width: 400px;
    background-color: #ef972c;
    border: 2px solid #ef972c;
    border-radius: 15px;
    margin: 15px 0;
}

img {
    z-index: 124;
}

.btn-create {
    width: 50%;
    height: 30px;
    background-color: #ef972c;
    color: #f1f1f1;
    border: 0;
    border-radius: 10px;
    transition: all 0.1s;
}

.btn-create:hover {
    background-color: #cc852f;
    cursor: pointer;
}

.btn-create:active {
    background-color: #b67c36;
}

.traits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.traits-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.traits {
    padding: 0 10px;
    border-left: 1px #f1f1f1 solid;
    transition: all 0.20s;
}

.traits:hover {
    color: #ef972c;
    cursor: pointer;
}

.traits:active {
    color: #cc852f;
}

.traits:first-child {
    border-left: none;
}

.traits::selection {
    background: none;
}

.options-container {
    width: 500px;
    height: 370px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    overflow-y: auto;
}

.options-container::-webkit-scrollbar {
    width: 15px;
}

.options-container::-webkit-scrollbar-thumb {
    background-color: #636262;
    border-radius: 50px;
}

.options-container::-webkit-scrollbar-thumb:hover {
    background-color: #7e7c7c;
}


.option {
    width: 80px;
    height: 80px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    margin: 5px;
}